{% extends "header.html" %}
{% block body %}

<div class="container-fluid">

<div class="panel panel-default">
  <div class="panel-heading"><b>Acces Level:</b>
  {{ accessLevel }}&nbsp;
  {% if accessLevel=='admin' %}
  <span class="glyphicon glyphicon-king"></span>
  {% elif accessLevel == 'student' %}
  <span class="glyphicon glyphicon-pawn"></span>
   {% endif %}
   </div>
  <div class="panel-body">
    <div><b>Username:</b> {{ session['username'] }}</div>
	<div><b>Tutorial Group:</b> {{ tut_group }}</div>
	<a href="/change_password/" class="btn btn-default btn-primary">Change Password</a>
	{% if accessLevel=='admin' %}
	<a href="/admin_management/" class="btn btn-default btn-primary">Manage Users</a>
	{% endif %}
  </div>
</div>
{% endblock %}