{% extends "header.html" %}
{% block body %}

<div class="container-fluid">
<table class="table table-striped table-bordered">
<tr>
<th>Unqiue ID</th>
<th>Username</th>
<th>Email</th>
<th>Tutorial Group</th>
<th>Rank</th>
<th>Options</th>
</tr>
{% for d in data %}
<tr id="{{ d[0] }}">
<td class="zero">{{ d[0] }}</td>
<td class="one">{{ d[1] }}</td>
<td class="two">{{ d[2] }}</td>
<td class="three">{{ d[4] }}</td>
<td class="four">{{ d[5] }}</td>
<td><button class="btn btn-default btn-primary edit_button" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-pencil"></span>Edit</button><button class="btn btn-default btn-danger removeUser"><span class="glyphicon glyphicon-trash"></span>Remove</button></td>
</tr>
{% endfor %}
</table>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="width:40%;">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit User</h4>
        </div>
        <div class="modal-body">
          <table>
		  <th>Username</th>
			<th>Email</th>
			<th>Tutorial Group</th>
			<th>Rank</th>
		  <tr>
			<td><input id="editUsername"></input></td><td><input id="editEmail"></input></td><td><input id="editTut_group"></input></td><td><input id="editRank"></input></td>
		  </tr>
		  </table>
        </div>
        <div class="modal-footer">
			<button id="revert_button" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;Revert</button>
          <button id="edit_submit" type="button" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Submit</button>
        </div>
      </div>
      
    </div>
 </div>

{% endblock %}