{% extends "header.html" %}

{% block body %}
<body>

<div class="container-fluid">
<br>
<h4>Change Password</h4>
<br>
<form action="" class="form-inline" method="post">
<ul>
	<li><input type="text" class="form-control" placeholder="Old Password" name="oldPassword" value="{{request.form.oldPassword}}"/></li>
	<li><input type="password" class="form-control" placeholder="New Password" name="newPassword" value="{{request.form.newPassword}}"/></li>
	<li><input type="password" class="form-control" placeholder="Confirm New Password" name="confirmNewPassword" value="{{request.form.confirmNewPassword}}"/></li>
	<li><input class="btn btn-default btn-primary" type="submit" value="Change Password"/></li>
</ul>
</form>

<p>{{error}}</p>

</div>


</body>
{% endblock %}