{% extends "header.html" %}
{% block body %}
{% if not session.logged_in %}
<div class="alert alert-warning alert-dismissible" role="alert">
   <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
   Welcome Guest, please login if you want to save your progress
</div>
{% else %}
<div class="progress">
   <div class="progress-bar" role="progressbar" aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percentage }}%;">
      {{ percentage }}%
   </div>
</div>
{% endif %}
<div role="tabpanel">
   <!-- Nav tabs -->
   <ul class="nav nav-tabs nav-justified" role="tablist">
      <li role="presentation"><a href="#search" aria-controls="home" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-search"></span>&nbsp;Search</a></li>
      <li role="presentation" class="active"><a href="#lectures" aria-controls="profile" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-file"></span>&nbsp;Lectures</a></li>
      <li role="presentation"><a href="#workbook" aria-controls="messages" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-book"></span>&nbsp;Workbook</a></li>
      {% if session.logged_in %}
      <li role="presentation"><a href="#myGroup" aria-controls="myGroup" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-th-list"></span>&nbsp;Tutorial Group</a></li>
      {% endif %}
   </ul>
   <!-- Tab panes -->
   <div class="tab-content">
      <div role="tabpanel" class="tab-pane" id="search">
         <div class="form-group">
            <input id="searchBox" type="text" class="form-control" placeholder="Search">
         </div>
         <br>
         <div id="searchResults">
         </div>
      </div>
	  {% if session.logged_in %}
      <div role="tabpanel" class="tab-pane active" id="lectures">
         <div class="list-group">
            {% set count = 1 %}
            {% for t in final %}
			{% if t[2] == "Not Complete" %}
            <li><a href="/lecture{{t[1]}}" type="button" class="list-group-item">{{ count }}. {{t[0]}}</a></li>
			{% else %}
			<li><a href="/lecture{{t[1]}}" type="button" class="list-group-item">{{ count }}. {{t[0]}}&nbsp;<span class="glyphicon glyphicon-ok"></span></a></li>
			{% endif %}
            {% set count = count + 1 %}
            {% endfor %}
         </div>
      </div>
	  {% else %}
	  <div role="tabpanel" class="tab-pane active" id="lectures">
         <div class="list-group">
            {% set count = 1 %}
            {% for t in topic_dict['Lectures'] %}
            <li><a href="/lecture{{t[1]}}" type="button" class="list-group-item">{{ count }}. {{t[0]}}</a></li>
            {% set count = count + 1 %}
            {% endfor %}
         </div>
      </div>
	  {% endif %}
      <div role="tabpanel" class="tab-pane" id="workbook">
         <iframe class="roundBorder" src="/static/documents/workbook/workbook.pdf" width="100%" height="600px"></iframe>
      </div>
      <div role="tabpanel" class="tab-pane" id="myGroup">
         {% if session.logged_in %}
         {% for tut in tut_members %}
         {% if tut != session.username %}
         <li class="list-group-item">{{ tut }}</li>
         {% endif %}
         {% endfor %}
         {% endif %}
      </div>
   </div>
</div>
{% endblock %}