<!DOCTYPE html>
<html lang="eng">
   <head>
      <meta charset="utf-8">
      <title>Python Flask</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/style.css') }}">
      <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
   </head>
   <header>
      <div class="navbar-header">
      </div>
      <div class="container-fluid">
         <a href="/dashboard/">
         <button class="btn btn-primary" type="button" id="dropdownMenu2" aria-label="Left-Align" style="margin-top: 5px; margin-bottom: 5px; height: 44px; margin-right: 15px">
         <span class="glyphicon glyphicon-home" aria-hidden="true"></span>  Home
         </button>
         </a>
         <ul class="nav navbar-nav navbar-right">
            <div style="margin-right: 10px; margin-left: 15px; margin-top: 5px; margin-bottom: 5px;"  class="container-fluid">
               <h5>

                  {% if session.logged_in %}
                  <a href="/account/"> <span class="glyphicon glyphicon-user"></span> {{ session['username'] }}&nbsp;&nbsp;&nbsp;</a>
                  <a href="/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout&nbsp;&nbsp;&nbsp;</a>

                  {% else %}
                  
                  <a href="/login/" class="active"><span class="glyphicon glyphicon-log-in"></span> Login&nbsp;&nbsp;&nbsp;</a>
                  <a href="/register/"><span class="glyphicon glyphicon-pencil"></span> Sign up&nbsp;&nbsp;&nbsp;</a>
                  {% endif %}
               </h5>
            </div>
         </ul>
         </ul>
      </div>
   </header>
   <body>
   <div class="border-row" style="width:100%; margin-bottom:15px"></div>
   <div class="container-fluid" style="min-height:100% max-width:80%">
   {% with messages = get_flashed_messages() %}
     {% if messages %}
	   {% for message in messages %}
	   {% if message == "You must log in first" %}
	   <div class="alert alert-success alert-dismissable" role="alert">
		 <button type="button" class="close" data-dismiss="alert" aria-label="close">
		 <span aria-hidden="true">&times;</span>
		 </button>
		 {{message}}
		 </div>
	   {% else %}
	     <div class="alert alert-success alert-dismissable" role="alert">
		 <button type="button" class="close" data-dismiss="alert" aria-label="close">
		 <span aria-hidden="true">&times;</span>
		 </button>
		 {{message}}
		 </div>
		{% endif %}
	   {% endfor %}
	 {% endif %}
   {% endwith %}
   
   {% block body %}
   {% endblock %}
   
   </div>
   
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="/static/js/javascript.js"></script>
	  <script type="text/javascript" src="/static/js/build/pdf.js"></script>
	  <script type="text/javascript" src="/static/js/build/pdf.worker.js"></script>
	  <script type="text/javascript" src="/static/js/build/pdf.js"></script>
   </body>
</html>