{% extends "header.html" %}
{% block body %}
{% if not session.logged_in %}
<div class="alert alert-warning alert-dismissible" role="alert">
   <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
   Welcome Guest, please login if you want to save your progress
</div>
{% endif %}
<iframe class="roundBorder" src="/static/documents/lectures/{{chosenLecture}}" width="100%" height="600px"></iframe>
<br>
<ul class="nav nav-tabs nav-justified" role="tablist">
   {% if session.logged_in %}
   <li role="presentation"><a href="#notes" aria-controls="home" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;My Notes</a></li>
   <li role="presentation"><a href="#sharedNotes" aria-controls="home" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-share-alt"></span>&nbsp;Shared Notes</a></li>
   <li role="presentation"><a href="#uploadNotes" aria-controls="home" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-cloud"></span>&nbsp;Upload Notes</a></li>
   <li role="presentation"><a href="#complete" aria-controls="home" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-tasks"></span>&nbsp;Next Steps</a></li>
</ul>
<div class="tab-content">
   <div role="tabpanel" class="tab-pane" id="notes">
      <br>
      <div id="textareaWrapper">
         <textarea id="textarea" class="width-100 consumeSpace form-control custom-control" placeholder="Why not take some notes...">{{ myNotes }}</textarea>
         <br>
         <button class="btn btn-default btn-primary" id="saveNotes"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Save Notes</button>
		 <button class="btn btn-default btn-primary" id="shareNotes" data-toggle="modal" data-target="#shareModal"><span class="glyphicon glyphicon-share-alt"></span>&nbsp;Share Notes</button>
      </div>
   </div>
   <div role="tabpanel" class="tab-pane" id="sharedNotes">
   {% if sharedNotes == "" %}
	<textarea readonly id="textarea" class="width-100 consumeSpace form-control custom-control" placeholder="Nothing has been shared with you yet."></textarea>
	{% else %}
	<textarea readonly id="textarea" class="width-100 consumeSpace form-control custom-control" placeholder="Why not take some notes...">{{ sharedNotes }}</textarea>
	{% endif %}
   </div>
   <div role="tabpanel" class="tab-pane" id="uploadNotes">
      <div class="center-wrapper">
         <form id="upload-file" method="post" name="form" enctype="multipart/form-data">
            <fieldset >
               <label for="file"> Select a file</label>
               <input style="display:block;" type="file" name="datafile" />
            </fieldset>
            <fieldset>
               <button class="btn btn-default btn btn-primary" type="button" id="upload-button"><span class="glyphicon glyphicon-cloud-upload"></span>&nbsp;Upload</button>
            </fieldset>
         </form>
      </div>
   </div>
   <div role="tabpanel" class="tab-pane" id="complete">
   <div class="center-wrapper">
   <br>
	<button id="markComplete" class="btn btn-success">Mark tutorial as complete&nbsp;<span id="progressSpan" class="glyphicon glyphicon-unchecked"></span></button>
	{% if nextLecture != "" %}
	<a href="/lecture{{ nextLecture }}" class="btn btn-primary">Go to Next Tutorial&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></a>
	{% endif %}
	</div>
   </div>
</div>
{% else %}
<li role="presentation"><a href="#notes" aria-controls="home" role="tab" data-toggle="tab">My Notes</a></li>
</ul>
<div class="tab-content">
   <div role="tabpanel" class="tab-pane" id="notes">
      <div class="panel panel-default alert alert-danger">
         <div class="panel-body ">
            You must <a href="/login/" class="active"><span class="glyphicon glyphicon-log-in"></span> Login</a> or <a href="/register/"><span class="glyphicon glyphicon-pencil"></span> Sign up</a> to take notes
         </div>
      </div>
   </div>
</div>
</div> 
{% endif %}

<div class="modal fade" id="shareModal" role="dialog">
    <div class="modal-dialog" style="width:40%;">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Choose someone in your tutorial group:</h4>
        </div>
        <div class="modal-body">
          <input id="shareUserSearch"></input>
        </div>
        <div class="modal-footer">
          <button id="share_button" type="button" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-share-alt"></span>&nbsp;&nbsp;Share</button>
        </div>
      </div>
      
    </div>
 </div>
{% endblock %}